<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Zalto得獎的理由是從拿起的輕巧和平衡感、放到唇邊仿佛不存在的輕薄都讓人驚艷">
    <meta name="og:title" content="從勞力士到Zalto酒杯，那些永不過時的完美精品">
    <meta name="og:description" content="Zalto得獎的理由是從拿起的輕巧和平衡感、放到唇邊仿佛不存在的輕薄都讓人驚艷">
    <meta name="og:type" content="website">
    <title>iCheers愛酒窩-從勞力士到Zalto酒杯，那些永不過時的完美精品</title>
    <!--＊＊＊＊＊＊＊＊＊＊＊＊ Google tag (gtag.js)_star ＊＊＊＊＊＊＊＊＊＊＊＊-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YTZ1NS6SSX"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YTZ1NS6SSX');
    </script>
    <!--＊＊＊＊＊＊＊＊＊＊＊＊ Google tag (gtag.js)_end ＊＊＊＊＊＊＊＊＊＊＊＊-->
    <style type="text/css">
          area {
                outline: none;
          }

          .content {
                width: 1280px;
                margin-left: auto;
                margin-right: auto;

          }
    </style>

    <link href="CSS/reset.css" rel="stylesheet" type="text/css" />
    <link href="CSS/EDM_Style.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.icheers.tw/iCheers/Content/images/drop.ico">
    <script src="js/jquery.min.js"></script>

    <script src="/iCheers/Scripts/jquery-1.8.2.js"></script>
    <script src="https://www.icheers.tw/iCheers/EDM/Scripts/EDM.js"></script>
    <script type="text/javascript" src="https://www.icheers.tw/iCheers/EDM/VIP/Scripts/disabledCopyEDM.js"></script>
    <!-- 禁止copy -->


    <script type="text/javascript">
   

          $(document).ready(function () {
                //瀏覽器內容寬度
                var intBrowserW = 0;

                //瀏覽器內容高度
                var intBrowserH = 0;

                //#region 取得瀏覽器內容寬度/高度
                if (document.documentElement) {
                      intBrowserW = document.documentElement.clientWidth;
                      intBrowserH = document.documentElement.clientHeight;
                } else {
                      intBrowserW = document.body.clientWidth;
                      intBrowserH = document.body.clientHeight;
                }

                //desktop
                if (intBrowserW > 991) {
                    $("#back-top").hide();
                    $("#mylist").hide();
                      $("#goto_pickwine").hide();
                    // fade in #back-top
                    $(function () {
                          $(window).scroll(function () {
                                if ($(this).scrollTop() > 10) {
                                      $('#back-top').fadeIn();
                                      $('#mylist').fadeIn();
                                        $('#goto_pickwine').fadeIn();
                                } else {
                                      $('#back-top').fadeOut();
                                      $('#mylist').fadeOut();
                                        $('#goto_pickwine').fadeOut();
                                }
                          });

                          // scroll body to 0px on click
                          $('#back-top a').click(function () {
                                $('body, html').animate({
                                      scrollTop: 0
                                }, 800);
                                return false;
                          });
                    });
                } 
                //mobile
                else {
                        $("#mylist_mobile").hide();
                    $(function () {
                          $(window).scroll(function () {
                                if ($(this).scrollTop() > 10) {
                                      $('#mylist_mobile').fadeIn();
                                } else {
                                      $('#mylist_mobile').fadeOut();
                                }
                          });

                    });
                }

          });

    </script>

</head>