<nav>
    <div class="header_nav">
        <div class="iCheers_logo"><a href="index.html"><img src="images/iCheers-LOGO.png" alt="iCheers愛酒窩"></a></div>
        <div class="header_nav_searchbar">
            <a href="#popup" class="nav_searchbar_trigger popup-btn" id="searchbar_trigger">
                <img src="images/icon_search.png" alt="搜尋" class="icons">
                <img src="images/icon_photo.png" alt="以圖找酒" class="icons">
            </a>
            <div class="popup-wrap nav_searchbar_advanced" id="popup">
                <div class="advanced_container">
                    <img src="images/nav_advanced.png" alt="">
                    <ul class="advanced_inputs">
                      <li><button class="advanced_input">Button 1</button></li>
                      <li><button class="advanced_input">Button 2</button></li>
                      <li><button class="advanced_input">Button 3</button></li>
                      <li><button class="advanced_input">Button 4</button></li>
                    </ul>
                    <ul class="advanced_lists">
                      <li>Box 1 Content<img class="advanced_list" src="images/nav_advanced_sort.png" alt="" style="display: none;"></li>
                      <li>Box 2 Content<img class="advanced_list" src="images/nav_advanced_price.png" alt="" style="display: none;"></li>
                      <li>Box 3 Content<img class="advanced_list" src="images/nav_advanced_time.png" alt="" style="display: none;"></li>
                      <li>Box 4 Content<img class="advanced_list" src="images/nav_advanced_type.png" alt="" style="display: none;"></li>
                    </ul>
                    
                    <div class="advanced_btns">
                        <button class="active">葡萄酒</button>
                        <button>烈酒</button>
                        <button>啤酒</button>
                        <button>清酒</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_nav_txt"><img src="images/Nav_txt.png" alt="導覽列資訊"></div>
    </div>
    
</nav>
<div class="black-BG popup-close" id="black-BG"></div>
    <div class="header_gates">
      <div class="header_gates_box">
        <a class="header_gate" href="index_Wine.html"><span class="header_gate_icon"><img src="images/icon-wine.png" alt="葡萄酒"></span><span class="header_gate_txt">葡萄酒館</span></a>
        <a class="header_gate" href="index_Spirits.html"><span class="header_gate_icon"><img src="images/icon-whiskey.png" alt="烈酒"></span><span class="header_gate_txt">烈酒館</span></a>
        <a class="header_gate" href="index_Beer.html"><span class="header_gate_icon"><img src="images/icon-beer.png" alt="啤酒"></span><span class="header_gate_txt">啤酒館</span></a>
        <a class="header_gate" href="index_Sake.html"><span class="header_gate_icon"><img src="images/icon-sake.png" alt="清酒"></span><span class="header_gate_txt">清酒館</span></a>
        <a class="header_gate" href="index_Merchandise.html"><span class="header_gate_icon"><img src="images/icon-merch.png" alt="周邊"></span><span class="header_gate_txt">周邊館</span></a>
      </div>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    