<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iCheers-綜合首頁</title>

    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="js/jquery-1.11.1.min.js"></script>


</head>
<body class="index">
    <%- include('components/nav') %>
    <main>
        <div class="demo">
            <img src="images/motion_adjust_icon_1_01.jpg" alt="">
            
            <div class="area_gates">
                <a class="area_gate_Bordeaux" href="index_Bordeaux.html"><img src="images/gate_Bordeaux.png" alt="波爾多館"></a>
                <a class="area_gate_Burgandy" href="index_Burgandy.html"><img src="images/gate_Burgandy.png" alt="布根地館"></a>
                <a class="area_gate_Wine" href="index_Wine.html"><img src="images/gate_Wine.png" alt="葡萄酒館"></a>
                <a class="area_gate_Spirits" href="index_Spirits.html"><img src="images/gate_Spirits.png" alt="烈酒館"></a>
                <a class="area_gate_Beer" href="index_Beer.html"><img src="images/gate_Beer.png" alt="啤酒館"></a>
                <a class="area_gate_Sake" href="index_Sake.html"><img src="images/gate_Sake.png" alt="清酒館"></a>
                <a class="area_gate_Merch" href="index_Merch.html"><img src="images/gate_Merch.png" alt="周邊館"></a>
            </div>
            <img src="images/motion_adjust_icon_1_03.jpg" alt="">
            <img src="images/motion_adjust_icon_2_01.jpg" alt="">
        </div>
    </main>
    <div class="Warning"><p></p></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>